<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemoriseCards</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/MemoriseCards.styles.css" asp-append-version="true" />*@
    <link rel="shortcut icon" type="image/png" href="~/images/playing-card-favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col bg-emerald-900">
    <header class="text-white fixed top-0 left-0 right-0 z-50">
        <div class="container flex mx-auto justify-center">
            <nav class="contents font-semibold text-sm lg:text-base text-lg">
                <ul class="pl-3 flex justify-center items-center md:justify-start md:space-x-4">
                    <li class="p-3 lg:p-5 xl:p-8">
                        <button id="aboutBtn" type="button" class="text-white border border-gray-300 rounded-lg px-2 py-1 bg-zinc-500">
                            <span>About</span>
                        </button>
                    </li>
                    <li class="p-3 lg:p-5 xl:p-8">
                        <button id="matrixBtn" type="button" class="text-white border border-gray-300 rounded-lg px-2 py-1">
                            <span>Card Matrix</span>
                        </button>
                    </li>
                    <li class="p-3 lg:p-5 xl:p-8">
                        <button id="practiceBtn" type="button" class="text-white border border-gray-300 rounded-lg px-2 py-1">
                            <span>Practice</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        <img class="fixed top-0 left-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed top-0 right-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed bottom-0 left-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed bottom-0 right-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />

        <main role="main" class="flex-grow">
            <div class="flex items-center justify-center h-screen">
                <div>
                    @RenderBody()
                </div>

                <div class="flex items-center justify-center h-screen">
                    <div id="cardMat">
                        <h1 id="titleBanner" class="text-7xl text-zinc-300 text-opacity-75 font-barlow-condensed">CardMemoryMatrix</h1>
                    </div>
                </div>
            </div>

            <div id="overlay" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
                <div id="aboutDialog" class="bg-gray-200 p-6 rounded-md max-w-md flex flex-col items-center justify-center space-y-4 hidden">
                    <h2 class="text-lg font-semibold">About CardMemoryMatrix</h2>
                    <p class="mt-4 text-gray-800">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.".</p>
                    <button id="closeAboutBtn" type="button" class="text-white bg-zinc-500 border border-gray-300 rounded-lg px-2 py-1">
                        Let's go!
                    </button>
                </div>
            </div>
        </main>
    </div>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
