<header class="text-white fixed top-0 left-0 right-0 z-50">
    <div class="container flex mx-auto justify-center">
        <nav class="contents font-semibold text-sm lg:text-base text-lg">
            <ul class="pl-3 flex justify-center items-center md:justify-start md:space-x-4">
                <li class="p-3 lg:p-5 xl:p-8">
                    <button id="aboutBtn" type="button" class="text-zinc border border-gray-300 rounded-lg px-2 py-1 bg-zinc-600 hover:bg-zinc-400">
                        <span>About</span>
                    </button>
                </li>
                <li class="p-3 lg:p-5 xl:p-8">
                    <button id="matrixBtn" type="button" class="text-zinc border border-gray-300 rounded-lg px-2 py-1 hover:bg-zinc-400">
                        <span>Card Matrix</span>
                    </button>
                    <div id="matrixDropdown" class="hidden absolute mt-px border border-gray-300 rounded-lg">
                        <ul class="flex flex-col">
                            <li id="newDeckBtn" class="flex-grow px-2 py-1 text-zinc rounded-t-lg hover:bg-zinc-600">New Deck</li>
                            <li id="editDeckBtn" class="flex-grow px-2 py-1 text-zinc rounded-b-lg hover:bg-zinc-600">Edit Deck</li>
                        </ul>
                    </div>
                </li>
                <li class="p-3 lg:p-5 xl:p-8">
                    <button id="practiceBtn" type="button" class="text-zinc border border-gray-300 rounded-lg px-2 py-1 hover:bg-zinc-400">
                        <span>Practice</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>