<div id="aboutOverlay" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div id="aboutDialog" class="bg-gray-200 p-6 rounded-md max-w-3xl flex flex-col items-center justify-center space-y-4 hidden">
        <h2 class="text-lg font-semibold">About CardMemoryMatrix</h2>
        <p class="mt-4 text-gray-800">This web app is designed to help you memorise a deck of cards using the powerful Person-Action-Object (PAO) technique.</p>
        <p class="mt-4 text-gray-800">Begin by assigning cards with a Person, an Action and an Object. The concept is to create a memorable image that will help you recall the card later. For instance, the Queen of Diamonds may be Rihanna (Person) singing (Action) into a diamond microphone (Object).</p>
        <p class="mt-4 text-gray-800">You can practice by drawing one card at a time, placing the PAOs for each card within a <a href="https://artofmemory.com/blog/how-to-build-a-memory-palace/" class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">Memory Palace</a>. Then, when recalling the cards, follow the journey of your Memory Palace and re-associate the images with the cards you are recalling.</p>
        <p class="mt-4 text-gray-800">This can then be extended to drawing three cards at a time by combining the different PAOs of the cards and again, placing them on the journey of your Memory Palace to then recount later!</p>
        <p class="mt-4 text-gray-800">Begin by creating a deck in the Matrix menu, or editing the PAO Matrix of an existing deck. Once you have a handful of cards added to your deck's Matrix, you can begin practicing. In order to memorise a full deck, you will need to complete a full deck matrix - it may take some time before you settle on a matrix that works for you!</p>
        <button id="closeAboutBtn" type="button" class="text-white bg-zinc-500 border border-gray-300 rounded-lg px-2 py-1">
            Let's go!
        </button>

        <!-- TODO: revisit About section - basic and simple intro perhaps better
        e.g. "CardMemoryMatrix is designed to help user's memorise a deck of cards. It helps if you
        are already familiar with the concept of a Memory Palace, if you are not, click here etc.."
        then have tooltips or buttons with dialogs with info re the app.-->
    </div>
</div>